<h1>About us</h1>
<p>Thanks for checking out my Pinteresting App! I'm Adam Chang aka Kwok Ming aka AC follow me on Twitter <%= link_to "@ChangInCharge" , "http://www.twitter.com/ChangInCharge"%> and on Instagram <%= link_to "@ChangInCharge" , "http://instagram.com/changincharge"%>. <p>
